.App {
  text-align: center;
}

.student{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
 
 
}

.studata{
  background-color: orangered;
  width: 250px;
  color: white;

}

.delete :hover{
  padding: 2px;
  color: blue;
}
.edit{
  padding: 2px;
}
.view{
  padding: 2px;
}


.Teacher{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}

.Teacherdata{
  background-color: orangered;
  width: 250px;
  color: white;
  position: relative;
  top: 10px;
  left: 50px;

}
.addstu-btn{
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  height: 30px;
  position: relative;
  top: 10px;
}

.stu-btn{
 background-color: red;
 color: white;
 border-radius: 3px;
 outline: none;
 border: none;
 height: 30px;
 position: relative;
 top: 40px;
 left: 100px;

}

.teacher-btn{
  background-color: red;
  color: white;
  border-radius: 3px;
  outline: none;
  border: none;
  height: 30px;
  position: relative;
  top: 10px;
 right: 120px;
 }