.App {
  text-align: center;
}

.student{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
 
 
}

.studata{
  background-color: orangered;
  width: 250px;
  color: white;

}

.delete :hover{
  padding: 2px;
  color: blue;
}
.edit{
  padding: 2px;
}
.view{
  padding: 2px;
}


.Teacher{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}

.Teacherdata{
  background-color: orangered;
  width: 250px;
  color: white;


}
